<%= form_with model: current_user, class: "user-form" do |f| %>

    <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
    </div>

    <%= f.submit "Update Profile", class: "btn btn-primary" %>

    <% if alert %>
        <div class="alert alert-success successful-update" role="alert">
            <%= alert %>
        </div>
    <% end %>

<% end %>