<div id="restaurants-index-container">
  <div class="index-title-header">
    <h2>All Restaurants<h2>
  </div>

  <div class="row">

    <% @restaurants.each do |restaurant| %>

      <div class="col-lg-6">

        <%= link_to restaurant_path(restaurant), class: "restaurant-item" do %>

          <div class="res-img">
            <%= image_tag (restaurant.img_path) %>
          </div>

          <div class="restaurant-body">
            <div class="res-info-head">
              <h5><%= restaurant.name %></h5>
              <p><%= restaurant.address %> | <%= restaurant.phone_number %></p>
            </div>
            <div class="res-review-text-cont">
              <p>"I have to say this has to be the best onion ring I have ever tasted haha, idk but I never thought I would like onions but I did!"</p>
            </div>
          </div>
          
        <% end %>

      </div>

    <% end %>

  </div>

</div>