<h1>Write A Review For this onion: <%= @onion_ring.name %></h1>
<%= form_with model: @review, url: restaurant_onion_ring_reviews_path do |f| %>

    <% if @review.errors.any? %>
        <ul>
            <% @review.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :rating %>
    <%= f.number_field :rating  %>

    <%= f.submit "Submit"%>

<%end%>